.date-picker_container {
    border-left: 1px solid rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    
    .calendar {
        font-family: Arial, sans-serif;
        max-width: 350px;
        max-height: 370px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow:0px 40px 30px -20px rgba(0,0,0,0.3);
        margin: 5px;
      }
      .header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }

      .daysOfWeek{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);

            .dayOfWeek {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                width: 25px;
                height: 25px;
            }
      }
      .days {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);
        gap: 2px;
        cursor: pointer;

        .today {
            box-shadow:inset 0px 0px 0px 2px #0a3d62;
            border-radius: 100%;

            &:focus{
                background:#0a3d62;
                color:#fff;
                font-weight:600;
              }
        }
      }
      
      .day {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 25px;
        height: 25px;

            &:hover {
                background-color: #eee;
                border-radius: 100%;
            }
      }
}
