.header-container{
    width: 100%;
    max-width: 950px;
    height: 200px;
    border-bottom: 1px solid rgb(197, 197, 197);

.text-info{
    padding: 20px 0 0 20px;
    line-height: 5px;
    h3 {
        font-size: 28px;
    }
    .description {
        font-size: 25px;
        font-weight: bold;
        color: rgb(172, 172, 172);
    }
}
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
  }  
}