.container-box {
  width: 100%;
  max-width: 950px;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 20px;
  background-color: white;
  border-top: 1px solid rgb(197, 197, 197);

    .form-field {
      width: 100%;
      display: flex;
      align-items: center;
      
    }   
  }



@media screen and (max-width: 615px) {
    .form-field {
      display: flex;
      justify-content: center;
    }
}